.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 152px;
}

.u-section-1 .u-text-1 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0 308px 0 722px;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  margin: 0;
}

.u-section-1 .u-image-1 {
  width: 728px;
  height: 90px;
  margin: -125px 0 35px auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-1 .u-text-1 {
    width: 110px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 89px;
    margin-right: -8px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 67px;
  }

  .u-section-1 .u-image-1 {
    height: 67px;
    margin-top: -197px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 42px;
  }

  .u-section-1 .u-image-1 {
    height: 42px;
    margin-top: -125px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 913px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: 0 0 17px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1359px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
    margin-bottom: 3px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1580px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2259px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -47px;
    width: 340px;
  }
}